VITE_FIREBASE_API_KEY=tu_api_key
VITE_FIREBASE_AUTH_DOMAIN=zenith-pay.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=zenith-pay
VITE_FIREBASE_STORAGE_BUCKET=zenith-pay.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_sender_id
VITE_FIREBASE_APP_ID=tu_app_id